@import 'https://fonts.googleapis.com/css?family=Lato:400,600,900&display=swap';

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

/* Welcome page */
.welcome-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 20px;
  background-image: url('../assets/img/background.jpg');
  background-size: cover;
}

.welcome__title {
  margin-bottom: 30px;

  font-size: 40px;
  letter-spacing: 13px;
  font-weight: 300;
  font-weight: 600;
  text-transform: uppercase;
}

.welcome__text {
  margin: 0;
  margin: 10px 0;
}

.welcome__start-button {
  width: 200px;
  padding: 0 20px;
  margin: 30px 0;

  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: #048bc2;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4),
    inset -2px -2px 3px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  outline: none;
}

.welcome__start-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.welcome__start-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.4),
    inset 2px 2px 3px rgba(0, 0, 0, 0.4);
}

/* Train page */
.train-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.train-levels {
  position: absolute;
  top: 20px;
  left: 40px;
  content: '';

  display: flex;
  width: 300px;
  justify-content: space-between;
}

.train-levels:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;

  width: 100%;
  height: 3px;

  background-color: #048bc2;
  transform: translateY(-50%);
}

.train-levels__level {
  position: relative;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: #048bc2;

  cursor: pointer;
}

.train-levels__level--active {
  box-shadow: 0 0 0 2px #048bc2, inset 0 0 0 4px #ffffff,
    inset 0 0 0 3px #048bc2;
}

.train-levels__level:hover {
  transform: scale(1.1);
}

.train-buttons__restart,
.train-buttons__speak,
.train-buttons__results {
  width: 200px;
  padding: 0 20px;
  margin: 30px 10px;

  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: #048bc2;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4),
    inset -2px -2px 3px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  outline: none;
}

.train-buttons__restart:hover,
.train-buttons__speak:hover,
.train-buttons__results:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.train-buttons__restart:active,
.train-buttons__speak:active,
.train-buttons__results:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.4),
    inset 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.train {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.train__img {
  display: block;
  margin-bottom: 20px;

  width: 400px;
  max-width: 400px;
  max-height: 270px;
  min-height: 270px;
}

.train-word {
  display: flex;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;

  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.word-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1000px;
}

.word-cards__card {
  position: relative;
  display: flex;
  min-width: 180px;
  margin-bottom: 20px;

  flex-direction: column;
  justify-content: space-around;

  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.word-cards__card:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 10px;

  display: block;
  width: 20px;
  height: 20px;

  transform: translateY(-50%);

  background-image: url('../assets/img/sound.png');
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

.word-cards__card:hover {
  box-shadow: 1px 1px 3px 3px gray;
}

.word-cards__card--active {
  background-color: #fbe898;
}

.word-cards__card--active:before {
  background-color: #fbe898;
}

.word-cards__card--guessed {
  background-color: #ccf4d3;
}

.word-cards__card--guessed:before {
  background-color: #ccf4d3;
}

.word-cards__card p {
  margin: 10px;

  font-size: 20px;
  text-align: center;
}

.word-cards__transcription {
  color: gray;
}

.train-buttons {
  display: flex;
  width: 1000px;

  justify-content: space-between;
}

.train-buttons__speak {
  flex-grow: 2;
}

.audio {
  display: none;
}

.train-answers {
  position: absolute;
  top: 20px;
  right: 40px;
  content: '';

  display: flex;
  justify-content: flex-end;

  width: 405px;
}

.train-word__speak {
  position: relative;
  width: 100%;
}

.train-word__speak:before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';

  width: 40px;
  height: 40px;

  background-image: url('../assets/img/microphone.png');
  background-size: cover;
}

.train-word__speak-input {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  border: 0;
  outline: none;
  border-bottom: 2px solid grey;

  font-size: 20px;
  text-align: center;
}

.train-answers__img {
  width: 50px;
  height: 50px;
}

.results-container {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/img/background.jpg');
  background-size: cover;
}

.results {
  width: 600px;
  min-height: 500px;
  padding: 20px;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.results__title {
  margin-bottom: 15px;
}

.results__title-number {
  padding: 5px;
  margin-left: 10px;

  color: white;
  border-radius: 10px;
}

.results__title-number--error {
  background-color: red;
}

.results__title-number--success {
  background-color: green;
}

.results-list__item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;

  cursor: pointer;
}

.results-list__item:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 10px;

  display: block;
  width: 20px;
  height: 20px;

  transform: translateY(-50%);

  background-image: url('../assets/img/sound.png');
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

.results-list__eng {
  margin-right: 20px;

  font-size: 18px;
}

.results-list__transcription {
  margin-right: 20px;

  color: grey;
  font-size: 18px;
}

.results-list__translate {
  font-size: 18px;
}

.result-buttons {
  display: flex;
  justify-content: space-around;
}
.result-buttons__return,
.result-buttons__new-game,
.result-buttons__statistics {
  width: 150px;
  padding: 0 10px;
  margin: 30px 10px;

  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: #048bc2;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4),
    inset -2px -2px 3px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  outline: none;
}

.results-body {
  min-height: 450px;
}

.statistics-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.statistics-list__item {
  margin-bottom: 15px;
}

.statistics-list__date,
.statistics-list__count {
  margin-right: 15px;
  font-size: 18px;
}

.statistics-list__date {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}

.statistics-list__count {
  display: inline-block;
  width: 33px;
  padding: 5px;

  border-radius: 5px;
  color: white;
  text-align: center;
}

.statistics-list__count--failed {
  background-color: red;
}

.statistics-list__count--succeeded {
  background-color: green;
}