@import 'https://fonts.googleapis.com/css?family=Lato:400,600,900&display=swap';

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

/* Welcome page */
.welcome-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 20px;
  background-image: url('../assets/img/background-3.jpg');
  background-size: cover;
}

.welcome__title {
  margin-bottom: 30px;

  font-size: 40px;
  letter-spacing: 13px;
  font-weight: 300;
  font-weight: 600;
  text-transform: uppercase;
}

.welcome__text {
  margin: 0;
  margin: 10px 0;
}

.welcome__start-button {
  width: 200px;
  padding: 0 20px;
  margin: 30px 0;

  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: #048bc2;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4),
    inset -2px -2px 3px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  outline: none;
}

.welcome__start-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.welcome__start-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.4),
    inset 2px 2px 3px rgba(0, 0, 0, 0.4);
}

/* Train page */
.train-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.train-levels {
  position: absolute;
  top: 20px;
  left: 40px;
  content: '';

  display: flex;
  width: 300px;
  justify-content: space-between;
}

.train-levels:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;

  width: 100%;
  height: 3px;

  background-color: orange;
  transform: translateY(-50%);
}

.train-levels__level {
  position: relative;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: orange;

  cursor: pointer;
}

.train-levels__level--active {
  box-shadow: 0 0 0 2px orange, inset 0 0 0 4px #ffffff, inset 0 0 0 3px orange;
}

.train-levels__level:hover {
  transform: scale(1.1);
}

.train-buttons__restart,
.train-buttons__speak,
.train-buttons__results {
  width: 200px;
  padding: 0 20px;
  margin: 30px 10px;

  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: #048bc2;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4),
    inset -2px -2px 3px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  outline: none;
}

.train-buttons__restart:hover,
.train-buttons__speak:hover,
.train-buttons__results:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.train-buttons__restart:active,
.train-buttons__speak:active,
.train-buttons__results:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.4),
    inset 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.train {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.train__img {
  display: block;
  margin-bottom: 20px;

  width: 400px;
  max-width: 400px;
  max-height: 270px;
  min-height: 270px;
}

.train-word {
  width: 400px;
  height: 60px;

  margin-bottom: 20px;
}

.word-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1000px;
}

.word-cards__card {
  position: relative;
  display: flex;
  min-width: 180px;
  margin-bottom: 20px;

  flex-direction: column;
  justify-content: space-around;

  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.word-cards__card:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 10px;

  display: block;
  width: 20px;
  height: 20px;

  transform: translateY(-50%);

  background-image: url('../assets/img/sound.png');
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

.word-cards__card:hover {
  box-shadow: 1px 1px 3px 3px gray;
}

.word-cards__card p {
  margin: 10px;

  font-size: 20px;
  text-align: center;
}

.word-cards__transcription {
  color: gray;
}

.train-buttons {
  display: flex;
  width: 1000px;

  justify-content: space-between;
}

.train-buttons__speak {
  flex-grow: 2;
}

.audio {
  display: none;
}